@media screen { 992 px
body {

}
        background color: black;
        font-size: 15px;
        line-height: 1.8;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    header, footer {
        background-color: grey;
        color: black;
        text-align: center;
        padding: 1em 0;
        display: grid;
    }

    nav {
        background-color: white;
        text-color: black;
        text-align: center;
        padding: 1em;
        display: grid;
    }

    nav a {
        color: red;
        margin: 0 6em;
        text-color: black;
        text-decoration: none;
        text-align: center;
        display: grid;
    }

    main {
        padding: 0,5em;
    }

    @media (min-width: 992px) {
        body {
            font-size: 25px;
        }

        nav {
        text-align: center;
        }

        nav a {
            display: grid;
            margin: 0.5em 0;
        }
    }

    @media (max-width: 1700px) {
        body {
            font-size: 25px;
            display: grid;
        }

        nav {
        text-align: center;
        }

        nav a {
            display: grid;
            margin: 0.5em 0;
        }
    }


