@media screen { 1200
px
body {

}
        background color: blue;
        font-size: 20px;
        line-height: 2.5;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    header, footer {
        background-color: white;
        color: black;
        text-align: center;
        padding: 1em 0;
        display: grid;
    }

    nav {
        background-color: white;
        text-color: black;
        text-align: center;
        padding: 1em;
        display: grid;
    }

    nav a {
        color: blue;
        margin: 0.9 em;
        text-color: black;
        text-decoration: none;
        text-align: center;
        display: grid;
    }

    main {
        padding: 1em;
    }

    @media (min-width: 900px) {
        body {
            font-size: 40px;
        }

        nav {
        text-align: center;
        }

        nav a {
            display: grid;
            margin: 1.5em 0;
        }
    }

    @media (max-width: 1200px) {
        body {
            font-size: 35px;
            display: grid;
        }

        nav {
        text-align: center;
        }

        nav a {
            display: grid;
            margin: 0.5em 0;
        }
    }


